# App env
NEXT_PUBLIC_APP_ENV=

## about patreon oauth 
# App Name
NEXT_PUBLIC_APP_NAME=
# Client ID - Used to identify your application/tool with the client you registered.
NEXT_PUBLIC_CLIENT_ID=
# API Version
NEXT_PUBLIC_API_VERSION=
# Redirect Uri
NEXT_PUBLIC_REDIRECT_URI=