*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
:root {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  font-family: Outfit, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background: #282828;
  color: #fff;
  /* mask color */
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  /* bottom sheet background color */
  --rsbs-bg: rgb(45, 45, 45);
  /* bottom sheet handle bar color */
  --rsbs-handle-bg: rgb(70, 70, 70);
  --rsbs-max-w: auto;
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);
  --rsbs-overlay-rounded: 30px;
}

/* remove mobile focus color */
a:focus,
input:focus,
p:focus,
div:focus {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

a {
  color: #16b8f3;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.szh-menu {
  color: #fff !important;
  background: #333 !important;
}

.szh-menu__item {
  padding: 0 !important;
}

.szh-menu__item--hover {
  background: #444 !important;
}
